/*body {
	background-image: url("wp3639506.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Arial, sans-serif;
}
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
  }*/
  
  body {
	background-image: url('wp3639506.jpg');
	background-size: cover;
	background-position: center;
	background-repeat:no repeat;
  }
  
  .container {
	/*background-color: rgba(226, 179, 179, 0.8);*/
	

	background-color: rgba(0,0,0,.5);
    color: #fff;
	border-radius: 6px;
	box-shadow: 5px 10px 20px 10px rgba(156, 104, 104, 0.2);
	margin: auto;
	max-width: 410px;
	height:465px;
	margin-top:45px;
  }
  .login{
	background-color: rgba(0,0,0,.5);
    color: #fff;
	border-radius: 6px;
	box-shadow: 5px 10px 20px 10px rgba(156, 104, 104, 0.2);
	margin: auto;
	width: 410px;
	height:280px;

  }
  
  h1 {
	text-align:center;
	padding-top: 20px;
	font-size: 36px;
	margin-top: 0;
	font-family:" TREBUCHET MS";
	font-style: bold;
  }
  
  form {
	/*display: flex;
	flex-direction: column;*/ 
	width:350px;
	margin-left: 20px; 
	
  }
  form label{

	display:flex;
	margin-top:20px;
	font-size:20px;
  }
  /*input{
	margin-top:8px;
	width:100px;
	padding:7px;
	border:none;
	border:1px solid grey;
	border-radius:6px;
	outline:none;
  }*/
  input{
  	width:100%;
  	border-radius:6px;
  	padding:7px;
  	border:1px solid grey;
  }
   button{
	width:365px;
	height:35px;
	margin-top: 35px;
	border:none;
	color:aliceblue;
	font-size:18px;
border-radius: 6px;
	background-color: #162229;
  }
  
  p { 
	text-align:center;
	color:antiquewhite;
	padding-top: 20px;
font-style: bold oblique;

	font-size: 15px;
  }
  p a{
	color:chartreuse;
	font-size: smaller;
	
  }
  p a:hover{
	color:rgb(223, 223, 5);
  }

  